<!-- FLAGGED FOR REFACTORING-->

<b>Enter New User Information:</b>

<form action="http://localhost:3000/users" method="POST">
  
  
  <label for="rental_start_date">User Name:</label>
  <input type="text" name=user[user_name] id ="user_name">
  <br>
  <label for="rental_end_date">Password:</label>
  <input type="password" name=user[password] id ="password"> 
  <br>
  
  <input
      type="hidden"
      name="authenticity_token"
      value="<%= form_authenticity_token %>">
  
  <input type="submit" value="Create These Credentials!">
  
</form>