<b>Names of all the cats</b>
<ul>  
  <table>
      <tr>
          <td>Cat Name:</td>
          <td><%= @cat.name %></td>
      </tr>
      <tr>
          <td>Cat Age:</td>
          <td><%= @cat.age %></td>
      </tr>
  </table>
</ul>